.app{
  width: 100vw;;
}

.title{
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 4vw;
}

.rectangle {
  display: inline-block;
  width: 70vw;
  height: 400px;
  background: black;
}


.footer {
  display: block;
  width: 100vw;
  height: 6vh;
  background: black;
  margin-top: 2vh;
  color:blueviolet;
  padding-right:5vw;
}