.app{
  width: 100vw;;
}

.title{
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 4vw;
  color: black
}

.footer {
  display: block;
  width: 100vw;
  height: 6vh;
  background: black;
  margin-top: 2vh;
  color:blueviolet;
  padding-right:5vw;
}

.offcanvas{
     width:80% !important;
} 

.video_div{
  padding-top:10px;
}